@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.logo {
     margin: 12px;
}
.logo .pride{
    font-size: 28px;
    font-family: 'Pacifico', cursive;

}
.logo .supplements{
    color:#d42d49;
}
.navbar a{
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
.navbar a:hover{
    text-decoration: none;
    color: #d42d49;
}

.search {
background-color: #f7e9f3b6;
padding: 5px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.search input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    max-width: 90px;
}
.cart, .account {
    font-size: 26px;
}
.acc{
    background-color: #d42d49;
    border-radius: 50%;
    padding: 2px;
}
@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
}
    
@media screen and (max-width: 500px) {
    .navbar{
        display: none;
    }
}